


.exchange-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 2em;

    padding: 2em;
}

.exchange-form-header {
    font-size: 2em;
}
@media screen and (max-width: 768px){
    .exchange-form-header   {
       text-align: center;
    }
}

.exchange-form-type-ccy {
    padding: 10px 25px;
}


.exchange-form-container   {
    display: flex;
    flex-direction: row;
    gap: 10%;
 }
 @media screen and (max-width: 768px){
    .exchange-form-container   {
       display: flex;
       flex-direction: column;
       gap: 3em;
    }
}


.exchange-form-loading {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
