.exchange-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    min-width: 280px;
    gap: 0.5em;
}
.exchange-item-left {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 0.5em;
}

.exchange-item-top-container {
    width: 100%;

    padding-right: 1.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.image {
    object-fit: cover;
    height: 60px;
    width: 90px;

    border-radius: 4px;
    background-color: rebeccapurple;
}

.title {
    display: flex;
    justify-self: center;
    align-self: center;

    padding-left: 0.2em;

    font: 1.5em sans-serif;
}

.exchange-item-description {
    display: flex;

    font-size: 0.8em;
}

.exchange-item-bot-container {
    display: flex;
    flex-direction: row;

    gap: 5px;
}

.exchange-item-input {
    width: 100%;
}

.exchange-item-selected-currency {
    align-self: flex-end;
}
