.exchange-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 2em;

    padding: 2em;

    &-header {
        font-size: 2em;
    }
    &-type-ccy {
        padding: 10px 25px;
    }
    &-container {
        display: flex;
        gap: 50px;
    }
}

